<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <default>
        <addCustomAttributeToProduct>
            <general>
                <enabled>1</enabled>
                <hide_default_tabs>0</hide_default_tabs>
            </general>
        </addCustomAttributeToProduct>
    </default>
</config>
