<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="DeveloperHub\ProductCustomTabs\Api\Data\CustomTabsInterface"
                type="DeveloperHub\ProductCustomTabs\Model\CustomTabs"/>
    <preference for="DeveloperHub\ProductCustomTabs\Api\CustomTabsRepositoryInterface"
                type="DeveloperHub\ProductCustomTabs\Model\CustomTabsRepository"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="tabs_grid_data_source" xsi:type="string">
                    DeveloperHub\ProductCustomTabs\Model\ResourceModel\CustomTabs\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="DeveloperHub\ProductCustomTabs\Model\ResourceModel\CustomTabs\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">developerhub_product_custom_tabs</argument>
            <argument name="resourceModel" xsi:type="string">
                DeveloperHub\ProductCustomTabs\Model\ResourceModel\CustomTabs
            </argument>
        </arguments>
    </virtualType>
</config>
