<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="addCustomAttributeToProduct" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0"
                 showInStore="0">
            <label>Add Custom Tab To Product</label>
            <tab>developerhub</tab>
            <resource>DeveloperHub_ProductCustomTabs::AddCustomTabToProduct</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10 " showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="hide_default_tabs" translate="label" type="select" sortOrder="10 " showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Hide Default Tabs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
